.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: teal;

	align-items: center;
	justify-content: space-around;

	padding: 0.5rem 2rem;

	width: 100vw;
	height: 5rem;
	position: absolute;
	top: 0;
	z-index: 10;
}

.logo {
	width: auto;
	height: 4rem;
}

.links {
}
