.home {
	--gray-rgb: 0, 0, 0;
	--gray-alpha-200: rgba(var(--gray-rgb), 0.08);
	--gray-alpha-100: rgba(var(--gray-rgb), 0.05);

	--button-primary-hover: #383838;
	--button-secondary-hover: #f2f2f2;

	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100svh;
	gap: 64px;
	font-family: var(--font-geist-sans);
}

/* @media (prefers-color-scheme: dark) {
	.page {
		--gray-rgb: 255, 255, 255;
		--gray-alpha-200: rgba(var(--gray-rgb), 0.145);
		--gray-alpha-100: rgba(var(--gray-rgb), 0.06);

		--button-primary-hover: #ccc;
		--button-secondary-hover: #1a1a1a;
	}
} */

.heroHeading {
	padding: 1rem;
	text-align: center;
	font-size: 5rem;
	font-family: var(--font-metamorphous);
}

.heroSubheading {
	padding: 1rem;
	text-align: center;
	font-size: 1.5rem;
	font-family: var(--font-geist-sans);
}

.heroLineTwo {
	color: #da3e17;
	text-shadow: 0 4px 20px rgba(255, 74, 74, 0.4);
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
}

.heroImage {
	/* display: flex;
	align-items: center;
	justify-content: center;
	height: 100svh;
	width: 65%;
	grid-column-start: 2;
	overflow: hidden;*/

	a.secondary:hover {
		background: var(--button-secondary-hover);
		border-color: transparent;
	}

	.footer a:hover {
		text-decoration: underline;
		text-underline-offset: 4px;
	}
}

@media (max-width: 600px) {
	.page {
		padding: 32px;
		padding-bottom: 80px;
	}

	.main {
		align-items: center;
	}

	.main ol {
		text-align: center;
	}

	.ctas {
		flex-direction: column;
	}

	.ctas a {
		font-size: 14px;
		height: 40px;
		padding: 0 16px;
	}

	a.secondary {
		min-width: auto;
	}

	.footer {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
}

@media (prefers-color-scheme: dark) {
	.logo {
		height: 400px;
		width: auto;
		/* filter: invert(); */
	}
}
